<div class="columns is-centered">
  <div class="column is-8">
    <div class="card">
      <header class="card-header">
        <h1>Create a New Post</h1>
      </header>
      <div class="card-content">
        <div class="content">
          <%= render 'form', post: @post %>
          <%= link_to 'Back', posts_path, class:"button is-dark my-3" %>
        </div>
      </div>
    </div>
  </div>
</div>